* {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
}

.div {
    position: relative;
    min-width: 300px;
    min-height: 400px;
    padding: 40px 30px 30px;
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
                10px 10px 70px rgba(0, 0, 0, 0.25),
                inset -5px -5px 15px rgba(0, 0, 0, 0.25),
                    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#display {
    position: relative;
    grid-column: span 4;
    height: 100px;
    width: calc(100% - 20px);
    left: 10px;
    border: none;
    outline: none;
    background-color: #a7af7c;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
    text-align: right;
    padding: 10px;
    font-size: 2em;
}
#display:active {
    filter: brightness(1.5);
}
#display:before {
    content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  border-radius: 10px;
  background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

.buttons {
   color: #fff;
  position: relative;
  display: grid;
  width: 80px;
  place-items: center;
  margin: 8px;
  height: 80px;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px; 
}
.btn {
    color: #fff;
  position: relative;
  display: grid;
  width: 80px;
  place-items: center;
  margin: 8px;
  height: 80px;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 10px;
}



.btn:hover {
    background: #888;
}

.equal {
    background: #00a86b;
}

.equal:hover {
    background: #00c27f;
}

.zero {
    grid-column: span 2;
}

